<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>추가 정보 입력</title>

    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <form>
        <h3>롤 매칭 서비스는 현재 한국만 서비스를 하고 있습니다.</h3>
        <div class="form-group">
              <label for="lol-name">롤 닉네임</label>
              <input type="text" class="form-control" id="lol-name" placeholder="오늘 너는 이쁘다">
        </div>
        <div class="form-group">
              <label for="sex">성별</label>
              <select class="form-control" id="sex">
                <option>여자</option>
                <option>남자</option>
              </select>
        </div>
    </form>
</body>
</html>